#form-page {
  .form-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    justify-content: space-between;

    img {
      width: 100%;
      min-height: 153px;
      object-fit: cover;
    }

    .Form-item {
      text-align: center;
    }
  }
}
ion-item-group.formType-group.md.item-group-md.item.hydrated {
  width: 50%;
}

ion-content {
  height: 70%;
  text-align: center;
}

.no-content-text {
  padding-top: 40%;
  font-size: larger;
}

.warning {
  color: red;
}

.photo-gallery {
  display: flex;
  overflow: wrap;

  .photo {
    display: flex;
    flex-direction: column;

    img {
      width: 200px;

      .input-wrapper {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
